mat-slider{
  width: min(10cm , 80%)
}
mat-icon{
  transform:translateY(6px);
}
button{
  margin-left:0.3cm
}
mat-card{
  margin:0.5cm;
  max-width: 15cm;
}
.left{
  float:left;
  margin-right:0.5cm;
}
